@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background-size: cover;
	overflow: hidden;

}
.box1{
	width:600px;
	color:#FFF;
	size:20px;
	border:3px solid  rgba(0,255,255,0.6);
	text-align:center;
	position:relative;
	left:60vh;
	top:100px;
	background-color:rgba(0,0,0,0.7);
	border-bottom-left-radius:10%;
	border-bottom-right-radius:10%;
	border-top-left-radius:10%;
	border-top-right-radius:10%;
}
.box1 p{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style:oblique;
	font-weight:bold;
	font-size:24px;
	padding:10px;
	word-spacing:1em;
	color:rgba(0,200,250,0.7);
	text-decoration:overline;}
	
.DL{
	border:2px solid #6FF;
	width:400PX;
	height:400PX;
	padding-top:50PX;
	position:relative;
	top:150PX;
	LEFT:35vw;
	background-color:rgba(50,50,60,0.5);
	border-bottom-left-radius:10%;
	border-bottom-right-radius:10%;
	border-top-left-radius:10%;
	border-top-right-radius:10%;
	}
.dl1{
	border:4px solid #fff;
	border-color:rgba(255,255,255,0.5);
	width:220px;
	height:40px;
	padding:10px 5px 3px 5px;
	color:#3F9;
	border-bottom-left-radius:20%;
	border-bottom-right-radius:20%;
	border-top-left-radius:10%;
	border-top-right-radius:10%;
	position:relative;
	left:80px;
	}
.dl2{border:4px solid #fff;
	border-color:rgba(255,255,255,0.5);
	width:220px;
	height:40px;
	padding:10px 5px 3px 5px;
	color:#3F9;
	border-bottom-left-radius:20%;
	border-bottom-right-radius:20%;
	border-top-left-radius:10%;
	border-top-right-radius:10%;
	position:relative;
	left:80px;
	top:30px;
	}
.dl3 button a{
	text-decoration:none;
	color:#FFF;}
.dl3 button:hover{
	background-color:rgba(102,255,255,0.5);}
.dl3 button:visited{
	background-color:#333;}




button{
	background-color:rgba(0,0,0,0.5);
	color:#FFF;
	padding:8x 10px;
	width:100px;
	height:40px;
	border:5px double #FFF;
	border-bottom:4px #033 double;
	border-left:4px #333 double;
	border-top-right-radius:20%;
	border-top-left-radius:20%;
	border-bottom-left-radius:20%;
	border-bottom-right-radius:20%;
	text-decoration:none;
	position:relative;
	top:180px;
	left:150px;
	}
button:hover{
	background-color:rgba(50,50,100,0.7)}
button:active{
	background-color:rgba(255,255,255,0.7);

